body{
  position: relative;
}
body a{
  text-decoration: none;
  color: inherit;
}
body a:hover{
  text-decoration: none;
  color: inherit;
}
body input{
  outline:none;
}
div.header_top_bar_tel{
  margin-top: 10px;
  color: #525252;
}
div.header_top_bar_menu{
  margin-top: 10px;
  color: #525252;
}
div.header_top_bar_tel{
  font-family: "Lato-Regular";
  font-size: 11px;
}
div.header_top_bar_tel i{
  margin-right: 12px;
}
div.header_top_bar_menu ul{
  text-align: right;
  margin: 0px;
  padding: 0px;
}
div.header_top_bar_menu li{
  display: inline-block;
  font-family: "Lato-Regular";
  text-transform: uppercase;
  font-size: 11px;
  margin-right: 30px;
}
div.header_top_bar_menu li:nth-child(4){
  margin-right: 0px;
}
div.header_top_bar_menu li a{
  margin-right: 20px;
}
div.social_icons_wrap{
  display: inline-block;
}
div.select_wrap{
  display: inline-block;
}
.header_main_menu{
  margin-top: 30px
}
.header_main_menu div.menu_wrap ul{
  text-align: left;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.header_main_menu div.menu_wrap li{
  display: inline-block;
  margin-right: 24px;
  font-family: "PlayfairDisplay-Italic";
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}
.header_main_menu div.logo_wrap{
  text-align: center;
  font-family: "KrinkesDecorPERSONAL";
  font-size: 72px;
}
.header_main_menu .social_lang_wrap{
  text-align: right;
}
div.social_icons_wrap{
  color: #d9bf8f;
  margin-top: 18px
}
div.social_icons_wrap span{
  display: inline-block;
  width: 34px;
  height: 34px;
  text-align: center;
  border: 2px solid #d9bf8f;
  border-radius: 50%;
  padding-top: 2px;
}
div.social_icons_wrap span i{
  vertical-align: bottom;
}
div.social_icons_wrap span:nth-child(1),div.social_icons_wrap span:nth-child(2), div.social_icons_wrap span:nth-child(3){
  margin-right: 10px;
}
div.select_wrap{
  margin-left: 42px;
}
div.header_slider{
  max-width: 1440px;
  margin: auto;
  position: relative;
  height: 694px;
}
div.slider_wrap{
  height: 693px;
  display: flex;
  justify-content: space-between;
  background-image: url("../images/header_bg.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: all .5s ease;
}
div.slider_wrap:nth-child(2){
  background-image: url("../images/slide-1.jpg");
}

div.slider_wrap:nth-child(3){
  background-image: url("../images/slide-2.jpg");
}

div.sale_wrap span{
  display: block;
  text-align: center;
}
div.left_arrow{
  padding-left: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
div.right_arrow{
  padding-right: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
div.sale_wrap{
  width: 272px;
  height: 272px;
  border: 2px solid #cccac8;
  padding: 26px;
}
div.border{
  border: 3px solid #ffffff;
  padding: 6px;
  margin-top: 141px;
  margin-bottom: 50px;
}
div.sale_wrap span:nth-child(1){
  font-size: 19px;
  text-transform: uppercase;
  font-family: "Lato-Bold";
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 10px;
}
div.sale_wrap span:nth-child(2){
  font-size: 58px;
  text-transform: uppercase;
  font-family: "Lato-Bold";
  margin-bottom: 16px;
  color: #000000;
}
div.sale_wrap span:nth-child(3){
  font-size: 19px;
  text-transform: uppercase;
  font-family: "Lato-Bold";
  color: #ffffff;
  margin-bottom: 16px;
}
div.sale_wrap span:nth-child(4){
  font-size: 26px;
  text-transform: uppercase;
  font-family: "Lato-Bold";
  color: #000000;
}
div.shop_now_btn{
  text-align: center;
  margin-bottom: 110px;
}
div.shop_now_btn a{
  width: 188px;
  height: 51px;
  display: inline-block;
  background-color: #f09d66;
  text-transform: uppercase;
  font-family: "Lato-Bold";
  font-size: 24px;
  color: #ffffff;
  padding-top: 8px;
}
div.dots{
  font-size: 17px;
  letter-spacing: 4px;
  text-align: center;
}
div.dots i{
  cursor: pointer;
}
/*Slider classes*/
div.slider_wrap.active{
  opacity: 1;
  z-index: 99;
}
div.dots i.active_dots{
  color: #ffffff;
}
div.section_service{
  margin-top: 100px;
}
div.service_wrap{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
div.service_item{
  color: #ffffff;
  padding-bottom: 12px;
  padding-top: 6px;
  margin-bottom: 20px;
}
div.service_item:nth-child(1){
  background-image: url("../images/servis_left.jpg");
  background-size: 100% 100%;
}
div.service_item:nth-child(2){
  background-image: url("../images/service_centr.jpg");
  background-size: 100% 100%;
}
div.service_item:nth-child(3){
  background-image: url("../images/service_right.jpg");
  background-size: 100% 100%;
}
div.service_item i{
  font-size: 48px;
  margin-left: 40px;
  margin-right: 20px;
  vertical-align: super;
}
div.icon_descr span:nth-child(1){
  font-size: 30px;
  text-transform: uppercase;
  font-family: "Lato-Bold";
  margin-right: 34px;
}
div.icon_descr span:nth-child(2){
  font-size: 14px;
  font-family: "Lato-Regular";
}

div.service_item div{
  display: inline-block;
}
div.icon_descr span{
  display: block;
}
div.section_product{
  margin-top: 92px;
  margin-bottom: 116px;
}
div.section_product h1{
  text-align: center;
  font-family:"PlayfairDisplay-Italic";
  font-style: italic;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 68px;
}
div.section_product h1 span{
  margin: 0 40px;
}
div.section_product i{
  font-size: 16px;
  vertical-align: sup;
  color: #d9bf8f;
}
div.product_items_wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
div.product_item{
  position: relative;
  width: 24%;
  margin-bottom: 10px;
}
div.hover_container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
div.hover_container:hover{
  background-color: rgba(0,0,0,0.3);
}
div.hover_container:hover :nth-child(2){
  opacity: 1;
}
div.hover_container:hover :nth-child(3){
  background-image: url("../images/add_orange.png");
}

div.add_btn_wrap{
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  background-image: url("../images/add_blaack.png");
  background-position: top center;
  background-repeat: no-repeat;
}
div.add_btn_wrap a{
  display:inline-block;
  font-family: "Lato-Bold";
  font-size: 14px;
  color: #ffffff;
}
div.heard_wrap{
  text-align: center;
  cursor: pointer;
  opacity: 0;
  transition: all 0.6s ease;
  width: 100%;
}
div.off{
  width: 100%;
}
div.off span{
  display: block;
  width: 54px;
  height: 54px;
  text-align: center;
  padding-top: 16px;
  background-color: #feab12;
  border-radius:50%;
  margin-left: 10px;
  margin-top: 10px;
  font-family: "Lato-Bold";
  color: #ffffff;
}
div.item_img_wrap img{
  width: 100%;
}
/*footer*/

div.footer{
  background-color: #141414;
}
div.footer h1{
  font-family: "Lato-Bold";
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 40px;
}
div.footer ul{
  padding: 0;
  list-style: none
}
div.footer ul li{
  margin-bottom: 16px;
  font-family: font-family: "Lato-Regular";
  font-size: 14px;
}
div.stay_connect_wrap{
  text-align: center;
}
div.footer_sicial_wrap{
  margin-bottom: 50px;
}
div.footer_sicial_wrap span{
  display: inline-block;
  width: 48px;
  height: 48px;
  font-size: 24px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 50%;
  padding-top: 7px;
  margin-left: 10px
}
div.stay_connect_wrap p span{
  font-style: italic;
}
div.stay_connect_wrap p{
  font-family: "Lato-Regular";
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 50px;
}
div.footer_input_wrap{
  display: inline-block;
  border: 1px solid #737373;
  padding: 5px
}
div.footer_input_wrap input{
  display: inline-block;
  background-color: transparent;
  vertical-align: middle;
  color: #737373;
  width: 246px;
  padding-left: 10px;
  border: 0px;
}
div.footer_input_wrap span{
  display: inline-block;
  background-color: #323030;
  color: #ffffff;
  font-family: font-family: "Lato-Regular";
  font-size: 12px;
  width: 100px;
  height: 34px;
  padding-top: 8px;
  vertical-align: middle;
  cursor: pointer;
}
div.copy_right_wrap{
  margin-top: 106px;
  font-size: 11px;
  font-family: "Lato-Regular";
}
div.copy_right_wrap i{
  margin-right: 10px;
}
span.to_top {
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  background-color: #000000;
  font-size: 24px;
  margin-top: 100px;
}
span.to_top i{
  vertical-align: bottom;
  cursor: pointer;
}
div.pay_systems img{
  margin-right: 14px;
}
div.pay_systems{
  margin-top: 30px;
}
div.footer{
  padding: 65px;
}
select{
  width: 120px;
  color: #ffffff;
  background-color: #000000;
  border: 0;
  font-size: 12px;
  font-family: "Lato-Bold";
  padding: 8px 14px;
}
select option{
  background-color: #242424;
}
div.modal_popup{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 199;
  display: none;
}
div.modal_popup div{
  max-width: 370px;
  height: 260px;
  margin: 380px auto;
  background-color: #ffffff;
  border-bottom: 3px solid #cccccc;
}
div.modal_popup div form{
  height: 100%;
  padding: 20px;
}
div.modal_popup div form input{
  display: block;
  background-color: #ebebeb;
  border: none;
  width: 100%;
  height:35px;
  margin-bottom: 14px;
  border-left: 4px solid #f09d66;
  padding-left: 12px;
  font-family:"Lato-BoldItalic";
  font-size: 14px;
  color: #999999;
}
div.modal_popup div form input:nth-child(4){
  display: inline-block;
  width: auto;
  height: auto;
  margin-right: 10px;
}
div.modal_popup div form span{
  display: inline-block;
  color: #999999;
}
div.modal_popup div form button{
  border: none;
  width: 76px;
  height: 30px;
  background-color: #f09d66;
  color: #ffffff;
  font-family: "Lato-Bold";
  margin-left: 110px;
}
div.modal_popup div form p{
  font-size: 24px;
  font-family: "Lato-Bold";
  color: #f09d66;
  margin-bottom: 25px;
}
div.header_top_bar_menu ul li:last-child{
  cursor: pointer;
}
